# --- Python & Virtual Environments ---
venv/
.venv/
env/
bin/
lib/
# Ignore any python cache files
__pycache__/
*.py[cod]
*$py.class

# --- Machine Learning & Large Files ---
# Ignore locally saved model files (too large for GitHub)
*.h5
*.keras
*.tflite
*.pb
# Ignore datasets if you downloaded them as CSVs
*.csv

# --- Streamlit & OS ---
.streamlit/config.toml
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/
